<nav class="navbar navbar-expand-lg navbar-dark fixed-top site-navbar" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <% if (typeof siteInfo !== 'undefined' && siteInfo.logo) { %>
        <img src="<%= siteInfo.logo %>" alt="<%= siteInfo.siteName %>" height="45">
      <% } else { %>
        <span class="brand-text"><i class="fas fa-chart-line me-2"></i><%= (typeof siteInfo !== 'undefined' && siteInfo.siteName) ? siteInfo.siteName : 'BywitInvest' %></span>
      <% } %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/plans">Plans</a></li>
        <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/#testimonials">Testimonials</a></li>
        <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
      </ul>
      <div class="navbar-btns">
        <% if (typeof session !== 'undefined' && session.userId) { %>
          <a href="/dashboard" class="btn btn-outline-light btn-sm me-2"><i class="fas fa-tachometer-alt me-1"></i>Dashboard</a>
          <a href="/auth/logout" class="btn btn-theme btn-sm">Logout</a>
        <% } else { %>
          <a href="/auth/login" class="btn btn-outline-light btn-sm me-2">Login</a>
          <a href="/auth/register" class="btn btn-theme btn-sm">Register</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
